.container-fluid {
    background-color: #202225;
}

#content {
    margin: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 770px;
}

#footer {
    background-color: lightslategray;
}

.d-inline-flex {
    background-color: skyblue;
    width: 100%;
    justify-content: center;
    height: 740px;
}