.container-fluid {
    background-color: #2f3136;
}

#content {
    margin: auto;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 793px;
}

#over-view {
    background-color: #36393f;
    margin: auto;
    height: 740px;
}

#flex-box {
    display: flex;
    list-style-type: none;
    color: snow;
}

#menus {
    color: snow;
}

#menus input {
    font-family: helvetica;
    width: 100%;
    height: 100%;
    padding: 12px;
    background-color: #36393f;
    border: unset;
    color: snow;
    text-align: left;
}

#menus input:hover {
    background-color: ;
}

#quote {
    color: snow;
    font-family: helvetica;
}

#main {
    background-color: lightgreen;
    padding-left: 10px;
}

#details {
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

#detail-1 {
    background-color: darkkhaki;
}

#detail-2 {
    background-color: skyblue;
}

#footer {
    background-color: lightslategray;
}

.d-inline-flex {
    background-color: skyblue;
    width: 100%;
    justify-content: center;
    height: 740px;
}